body {
  text-align: center;
  box-sizing: border-box;
}

.video-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

video {
  object-fit: cover;
  border-radius: 50%;
}

.orange {
  border: 5px solid orange;
}

.text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -30%);
  background-color: green;
  border-radius: 15px;
  padding: 10px;
  width: 80%;
  color: white;
}

.text:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 25%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid green;
}

.local-video-container {
  position: relative;
  width: 15vw;
  height: 15vw;
  font-size: 24px;
}

.local-stream {
  width: 15vw;
  height: 15vw;
}

.remote-video-container {
  width: 40vw;
  height: 40vw;
  position: relative;
  font-size: 36px;
}

.remote-stream {
  width: 40vw;
  height: 40vw;
}
